<div>

  <nav class="navbar navbar-inverse navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <a href="#" class="navbar-brand">ePay - Plataforma de pago</a>

      <ul class="navbar-nav">
        
          <a class="nav-link mr-xl" href="login">Iniciar Sesión </a>
        
          <a class="nav-link mr-xl" href="newEcommerce">Nuevo comercio</a>

          <a class="nav-link mr-xl" href="register">Registrar Usuario </a>

          <a class="nav-link mr-xl" href="dashboard">Dashboard </a>

          <a class="nav-link mr-xl" href="checkout">Checkout </a>
        
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>