<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h2>Bienvenido a ePay</h2>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 ">
                <div class="card card-user">
                    <h4 class="card-title text-center">Medio de pago</h4>
                    
                    <form class="content"> 
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-left">Nombre del titular</label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Juan Pérez">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-left">Documento</label>
                            <div class="col-sm-3">
                                <select class="custom-select " id="inlineFormCustomSelect">
                                    <option selected>Tipo...</option>
                                    <option value="1">DNI</option>
                                    <option value="2">CE</option>
                                    <option value="3">PASSPORT</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Número">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="ccn" class="col-sm-3 col-form-label col-form-label-sm text-left">Tarjeta Crédito</label>
                                <div class="col-sm-4">
                                    <input type="tel" class="form-control form-control-sm" id="ccn" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
                                </div>
    
                                <label for="ccn" class="col-sm-3 col-form-label col-form-label-sm text-center">Código CCV</label>
                                <div class="col-sm-2">
                                    <input type="tel" class="form-control form-control-sm text-center" id="ccn" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="ccv-number" maxlength="3" placeholder="xxx">
                                </div>
                            
                        </div>
    
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-left">Fecha Vencimiento</label>
                            <div class="col-sm-2">
                                <select class="custom-select" id="inlineFormCustomSelect">
                                <option selected>Mes</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                <option value="4">04</option>
                                <option value="5">05</option>
                                <option value="6">06</option>
                                <option value="7">07</option>
                                <option value="8">08</option>
                                <option value="9">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                </select>
                            </div>
    
                            <div class="col-sm-2">
                                <select class="custom-select" id="inlineFormCustomSelect">
                                <option selected>Año</option>
                                <option value="1">2020</option>
                                <option value="2">2021</option>
                                <option value="3">2022</option>
                                </select>
                            </div>
    
                            <label for="colFormLabelSm" class="col-sm-3 ml-1 mr-4 col-form-label col-form-label-sm text-center">Cuotas</label>
                            <div class="col-sm-2 ml-4">
                                <select class="custom-select" id="inlineFormCustomSelect">
                                <option selected>Mes</option>
                                <option value="1">01</option>
                                <option value="2">02</option>
                                <option value="3">03</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-left">Teléfono celular</label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="999999999">
                            </div>
                        </div>
    
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm text-left">Correo electrónico</label>
                            <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="juanperez@mail.com">
                            </div>
                        </div>
    
                        <div class="text-center">
                            <a href="#" class="btn btn-default">Procesar pago</a>
                        </div>
                    </form>
                  
                </div>           
            </div>
    
            <div class="col-sm-6">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                            <h4 class="title">Nombre del Comercio<br />
                                <a href="#"><small>@comercio</small></a>
                            </h4>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Resumen</h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        Descripción del pedido
                                        <br />
                                        <span class="text-info"><small>Pedido # XXXXXXXX</small></span>
                                    </div>
                                    <div class="col-sm-6 text-center text-info"><h4>S/100.00</h4></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              
          </div>
    
    
          
    
        <div class="card-footer text-muted text-center">
            Footer a implementar
        </div>
    </div>
    </div>
    